.search {
    -webkit-appearance: none;
    border-radius: 1em;
    border: none;
    outline: none;
    padding: 10px;
    width: 25vw;
    line-height: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0.875em 1.75em rgba(0, 0, 0, 0.52),
      0 0.625em 0.625em rgba(0, 0, 0, 0.52);
  }
  